*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Black Han Sans', sans-serif;
  height: 100vh;
  overflow-x: hidden; 
  background: linear-gradient(90deg, #333366 53%, #FF9933 50%);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

html {
  font-size: 62.5%; /* 1rem을 10px로 변환(원래는 16px) */
}

button {
  background: none;
  color:  inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}

#sideNav {
  height: 100%;
  /* height: auto; */
  width: 120px;
  position: fixed;
  z-index: 1; /* 제일 상단에 위치설정 */
  top: 0;
  left: 0;
  background-color: #FF9933;
  overflow-Y: hidden;
  padding-top: 20px;
  transition: all var(--animation-duration) ease-in-out;
  /* 스크롤 와이가 렌더링된 높이 보다 크면 navbar 접히는 애니메이션 시간 300ms적용 */
}

#sideNav a {
  padding: 6px 8px 6px 16px;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: white;
  display: block;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  /* margin: 80px auto; */
  margin: 55px auto;
}

#sideNav a:hover {
  color: #333366;
}

/* sideNav icon direction  */
#sideNav i {
  font-size: 33px;
  transform: rotate(90deg);
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 13px;
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay > a:hover, 
.overlay > a:focus {
  color: #f1f1f1;
}

.openbtn {
  position: absolute;
  top: 20px;
  right: 45px;
  color: white;
}

.overlay 
.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.contentWrap {
  height: auto;
  padding-left: 7%;
  padding-bottom: 0%;
  z-index: 5;
}

.textField {
  position: relative;
  display: flex;
  margin-top: 12%;
  margin-bottom: 40%;
  margin-left: 3%;
  align-items: center;
  font-family: 'Black Han Sans', sans-serif;
}

.textField .h1 {
  font-size: 80px;
  color: white;
}

.textField .h2 {
  font-size: 50px;
  color: #FFFFCC;
}

.textWrap p {
  font-size: 30px;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  margin-top: 5%;
  padding-bottom: 10%;
}

.resumebtn {
  padding: 0 2.5em;
  font-size: 25px;
  color: #333366;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background: #fff;
  font-family: 'Black Han Sans', sans-serif;
}

.resumebtn > span {
  display: inline-block;
  padding: 0.8em 0;
  opacity: 0;
  font-size: 25px;
  color: #fff;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  font-family: 'Black Han Sans', sans-serif;
}

.resumebtn::before {
  content: attr(data-text);
  position: absolute;
  padding: 1em 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.resumebtn:hover {
  background-color: #FF9933;
}

.resumebtn:hover::before {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.resumebtn:hover > span {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.resumebtn:hover > span:nth-child(1) {
  -webkit-transition-delay: 0.045s;
  transition-delay: 0.045s;
}

.resumebtn:hover > span:nth-child(2) {
  -webkit-transition-delay: 0.09s;
  transition-delay: 0.09s;
}

.resumebtn:hover > span:nth-child(3) {
  -webkit-transition-delay: 0.135s;
  transition-delay: 0.135s;
}

.resumebtn:hover > span:nth-child(4) {
  -webkit-transition-delay: 0.18s;
  transition-delay: 0.18s;
}

.resumebtn:hover > span:nth-child(5) {
  -webkit-transition-delay: 0.225s;
  transition-delay: 0.225s;
}

.imageField {
  top: 0.5%;
  right: 15%;
  width: 100%;
  height: auto;
  max-width: 430px;
  margin-left: 23%;
}

.hjMemoji {
  max-width: 100%;
  height: auto;
}

.aboutWrap {
  position: relative;
  width: 80%;
  height: auto;
  border: 4px solid #FF9933;
  border-radius: 25px;
  padding: 3% 100px 8% 100px;
  margin-left: 10%;
  margin-bottom: 30%;
  background-color: #333366;
  box-shadow: 20px 20px 20px #333;
}

.aboutWrap h2 {
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 2.5px;
  color: #fff;
  text-align: center;
}

.hjPhoto {
  float: left;
  margin-right: 3%;
  clear: both;
}

.aboutText p {
  margin-top: 4%;
  margin-bottom: 2%;
  font-size: 31px;
  color: #FFFFCC;
  letter-spacing: 1.8px;
  line-height: 170%;
  text-align: left;
}

.skillWrap {
  width: auto;
  height: auto;
  margin-bottom: 30%;
}

.skillWrap h2 {
  padding-top: 3%;
  padding-bottom: 5%;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 2.5px;
  color: #fff;
  text-align: left;
  margin-left: 12%;
}

.icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 20%;
  margin-left: 15%;
  margin-bottom: 5%;
}

.icons img {
  margin-right: 25px;
  margin-bottom: 25%;
  /* transition: all var(--animation-duration) ease; */
}

.icons img:hover {
  transform: scale(1.2);
  transition: .5s;
}

.icons ul {
  position: absolute;
  left: 60%;
}

.icons li {
  font-size: 33px;
  color: #FFFFCC;
  letter-spacing: 1.8px;
  line-height: 170%;
  text-align: left;
  list-style-type: '👉';
  padding-inline-start: 1ch;
}

/* 마커 사이즈 */
.icons li::marker {
  font-size: 3rem;
}

.portfolioWrap {
  width: auto;
  height: auto;
  margin-bottom: 30%;
}

.portfolioWrap h2 {
  padding-top: 3%;
  padding-bottom: 5%;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 2.5px;
  color: #fff;
  text-align: left;
  margin-left: 12%;
}

.sliderWrap {
  width: 90%;
  height: 550px;
  margin-left: 5%;
}

.slide { 
  float: left;
  border: 7px solid #FF9933;
  width: 350px;
  height: 500px;
  margin: 0 30px 40px 30px;
  border-radius: 30px;
  background-color: #FFFFCC;
  box-shadow: 20px 20px 10px #333;
}

.slide img {
  display: block;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.title {
  margin-top: 7%;
  color: #333366;
  font-size: 35px;
  font-weight: 100;
  text-align: center;
}

.sub {
  margin-top: 5%;
  margin-bottom: 5%;
  color: #333366;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}

.prev {
  display: block;
  position: absolute;
  top: 50%;
  left: -45px;
  z-index: 10;
  font-size: 8rem;
  color: white;
  cursor: pointer;
  transform: translateY(-50%);
}

.next {
  display: block;
  position: absolute;
  top: 50%;
  right: -45px;
  z-index: 10;
  font-size: 8rem;
  color: white;
  cursor: pointer;
  transform: translateY(-50%);
}

.prev::before, .next::before {
  background-color: red !important;
}

.slick-dots {
  font-size: 10rem;
}




.contactWrap {
  width: auto;
  height: auto;
  padding: 10%;
  background-color: #FF9933;
  box-shadow: -10px -10px 80px #333 ;
  text-align: center;
}

.contactWrap h2 {
  padding-top: 3%;
  padding-bottom: 5%;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 2.5px;
  color: #fff;
}

.contactWrap .h3 {
  font-size: 45px;
  color: #FFFFCC;
  padding-bottom: 3%;
}

.emailbtn {
  font-size: 30px;
  letter-spacing: 0.8px;
  color: #FFFFCC;
}

footer {
  position: relative;
  background-color: #FF9933;
  padding-bottom: 3%;
  font-size: 17px;
  color: #fff;
  text-align: center;
} 

footer .h3 {
  width: 80%;
  border: thin solid #b9b8b8;
  margin-left: 10%;
  margin-bottom: 2%;
} 

/* 반응형 웹 디자인 사이즈 데스크톱 우선순위 */
@media screen and (min-width: 701px) {
  .openbtn {
    display: none;
  }
}

@media screen and (max-width: 701px) {
  #sideNav {
    display: none;
  }

  .openbtn {
    display: flex;
  }

  .contentWrap {
    padding-left: 3%;
  }

  .textField {
    margin-top: 50%;
    margin-left: 0;
    padding-left: 0;
  }

  .h1Wrap {
    font-size: 35px;
  }  

  .h2Wrap {
    font-size: 23px;
  }

  .textWrap p {
    font-size: 20px;
  }

  .imageField {
    margin-left: 2%;
  }
}