*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 2vw;
  overflow-x: hidden; 
  background: linear-gradient(to right, #333366 53%, #FF9933 47%);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

html {
  font-size: 62.5%; /* 1rem을 10px로 변환(원래는 16px) */
}

button {
  background: none;
  color:  inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}

/********* Navigation bar *********/
#sideNav {
  height: 100%;
  width: 120px;
  position: fixed;
  z-index: 1; /* 제일 상단에 위치설정 */
  top: 0;
  left: 0;
  background-color: #FF9933;
  overflow-Y: hidden;
  padding-top: 20px;
  transition: all var(--animation-duration) ease-in-out;
  /* 스크롤 와이가 렌더링된 높이 보다 크면 navbar 접히는 애니메이션 시간 300ms적용 */
}

#sideNav a {
  padding: 6px 8px 6px 16px;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: white;
  display: block;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin: 55px auto;
}

#sideNav a:hover {
  color: #333366;
}

/********* Overlay *********/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay_Content {
  position: relative;
  top: 23%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 13px;
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay > a:hover, 
.overlay > a:focus {
  color: #f1f1f1;
}

.openBtn {
  position: fixed;
  top: 26px;
  right: 27px;
  color: white;
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
  z-index: 9;
}

.overlay 
.closeBtn {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 40px;
  z-index: 11;
}

/********* Content section *********/
.contentWrap {
  width: auto;
  height: auto;
  padding-left: 7%;
  padding-bottom: 0%;
  z-index: 5;
}

.textSection {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 12%;
  margin-bottom: 40%;
  margin-left: 3%;
  align-items: center;
  font-family: 'Black Han Sans', sans-serif;
}

.textWrap {
  float: left;
  width: auto;
  height: auto;
  margin-left: 2%;
}

.textWrap .h1 {
  font-size: 80px;
  color: white;
}

.textWrap .h2 {
  font-size: 50px;
  color: #FFFFCC;
}

.textWrap p {
  font-size: 30px;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  margin-top: 5%;
  padding-bottom: 10%;
}

.maileBtn {
  padding: 0 2.5em;
  font-size: 23px;
  letter-spacing: 1px;
  color: #333366;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background: #fff;
  font-family: 'Black Han Sans', sans-serif;
}

.maileBtn > span {
  display: inline-block;
  padding: 0.9em 0;
  opacity: 0;
  font-size: 23px;
  letter-spacing: 1px;
  color: #fff;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  font-family: 'Black Han Sans', sans-serif;
}

.maileBtn::before {
  content: attr(data-text);
  position: absolute;
  padding: 1em 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.maileBtn:hover {
  background-color: #FF9933;
}

.maileBtn:hover::before {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.maileBtn:hover > span {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.maileBtn:hover > span:nth-child(1) {
  -webkit-transition-delay: 0.045s;
  transition-delay: 0.045s;
}

.maileBtn:hover > span:nth-child(2) {
  -webkit-transition-delay: 0.235s;
  transition-delay: 0.235s;
}

.maileBtn:hover > span:nth-child(3) {
  -webkit-transition-delay: 0.359s;
  transition-delay: 0.359s;
}

.maileBtn:hover > span:nth-child(4) {
  -webkit-transition-delay: 0.18s;
  transition-delay: 0.18s;
}

.maileBtn:hover > span:nth-child(5) {
  -webkit-transition-delay: 0.325s;
  transition-delay: 0.325s;
}

.maileBtn:hover > span:nth-child(6) {
  -webkit-transition-delay: 0.175s;
  transition-delay: 0.175s;
}

.maileBtn:hover > span:nth-child(7) {
  -webkit-transition-delay: 0.310s;
  transition-delay: 0.310s;
}

.maileBtn:hover > span:nth-child(8) {
  -webkit-transition-delay: 0.39s;
  transition-delay: 0.39s;
}

.maileBtn:hover > span:nth-child(9) {
  -webkit-transition-delay: 0.225s;
  transition-delay: 0.225s;
}

.imageSection {
  width: 100%;
  height: auto;
}

.hjMemoji {
  width: 30%;
  height: auto;
}

/* 로딩 화면 표시 */
#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.6;
  background: #e4e4e4;
  z-index: 99;
  text-align: center;
}

#loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}

#loading p {
  position: absolute;
  top: 57%;
  left: 43%;
  z-index: 101;
}

/********* About me section *********/
.aboutWrap {
  position: relative;
  width: 80%;
  height: auto;
  border: 6px solid #FF9933;
  border-radius: 25px;
  padding: 3% 100px 4% 100px;
  margin-left: 10%;
  margin-bottom: 30%;
  background-color: #333366;
  box-shadow: 20px 20px 20px #333;
}

.aboutWrap h2 {
  padding-top: 2%;
  padding-bottom: 3%;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 2.5px;
  color: #fff;
  text-align: center;
}

.hjPhoto {
  float: left;
  margin-right: 3%;
  clear: both;
}

.aboutText p {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 31px;
  color: #FFFFCC;
  letter-spacing: 1.8px;
  line-height: 170%;
  text-align: left;
}

.aboutGit {
  display: inline-block;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 25px;
  color: #6e6ed1;
  text-align: center;
  margin-top: 3%;
  line-height: 40px;
}

.aboutGit::after { /* after 가상요소 */
  display: block; /* a요소를 블록 요소라고 선언 */
  width: 100%; /* 카테고리 메뉴 밑줄의 크기를 동일하게 주기위해 설정 */
  content: '';
  border-bottom: solid 2px #fff;
  transform: scaleX(0); /* 크기를 0으로 설정하므로써 평상시간 밑줄 없음 */
  transition: transform 250ms ease-in-out; /* 변형방식 설정 */
}

.aboutGit:hover::after {
  transform: scaleX(1); /* a속성에 hover시 기존 크기로 밑줄 설정 */
}

.aboutBlog {
  float: right;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 25px;
  color: #fabd7f;
  text-align: center;
  margin-top: 3%;
  margin-right: 30%;
  line-height: 40px;
}

.aboutBlog::after {
  display: block;
  width: 100%;
  content: '';
  border-bottom: solid 2px #fff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.aboutBlog:hover::after {
  transform: scaleX(1);
}

/********* My skills section *********/
.skillsWrap {
  width: auto;
  height: auto;
  margin-bottom: 30%;
}

.skillsWrap h2 {
  padding-top: 3%;
  padding-bottom: 5%;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 2.5px;
  color: #fff;
  text-align: left;
  margin-left: 17%;
}

.icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 20%;
  margin-left: 20%;
  margin-bottom: 5%;
}

.icons img {
  margin-right: 25px;
  margin-bottom: 25%;
}

.icons img:hover {
  transform: scale(1.2);
  transition: .5s;
}

/* 마커 사이즈 */
.icons li::marker {
  font-size: 3rem;
}

.icons ul {
  position: absolute;
  left: 60%;
}

.icons li {
  margin-bottom: 6%;
  font-size: 33px;
  color: #FFFFCC;
  letter-spacing: 1.8px;
  line-height: 170%;
  text-align: left;
  list-style-type: '👉';
  padding-inline-start: 1ch;
}

/********* Portfolio section *********/
.portfolioWrap {
  width: auto;
  height: auto;
  margin-bottom: 30%;
}

.portfolioWrap h2 {
  padding-top: 3%;
  padding-bottom: 5%;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 2.5px;
  color: #fff;
  text-align: left;
  margin-left: 17%;
}

.sliderWrap {
  width: 80%;
  height: 550px;
  font-family: 'Lato', sans-serif;
}

.slide { 
  float: left;
  border: 7px solid #FF9933;
  width: 350px;
  height: 500px;
  margin: 0 30px 40px 30px;
  border-radius: 30px;
  background-color: #FFFFCC;
  box-shadow: 20px 20px 10px #333;
}

.slide img {
  display: block;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.title {
  margin-top: 7%;
  color: #333366;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

.sub {
  margin-top: 4%;
  margin-bottom: 6%;
  color: #333366;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

/********* Contact section *********/
.contactWrap {
  width: auto;
  height: auto;
  padding: 10%;
  background-color: #FF9933;
  box-shadow: -10px -10px 80px #333 ;
  text-align: center;
}

.contactWrap h2 {
  padding-top: 3%;
  padding-bottom: 5%;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 2.5px;
  color: #fff;
}

.contactWrap .h3 {
  font-size: 45px;
  color: #FFFFCC;
  padding-bottom: 3%;
}

.kakaoBtn {
  width: 20%;
  margin-left: 40%;
  font-size: 35px;
  letter-spacing: 0.8px;
  color: #FFFFCC;
}

.kakaoBtn:hover {
  color: #fffb08;
}

/********* Footer *********/
footer {
  position: relative;
  background-color: #FF9933;
  padding-bottom: 3%;
  font-size: 17px;
  color: #fff;
  text-align: center;
} 

.footerLine {
  width: 80%;
  border: thin solid #b9b8b8;
  margin-left: 10%;
  margin-bottom: 2%;
}





/* Desktop */
@media screen and (min-width: 1024px) {
  .openBtn {
    display: none;
  }

  .imageSection {
    position: absolute;
    margin-left: 57%;
  }

}


/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #sideNav {
    display: none;
  }
  
  .contentWrap {
    padding-left: 0;
  }

  .textSection {
    margin-top: 25%;
  }

  .textWrap {
    width: 40%;
    margin-left: 3%;
  }

  .textWrap .h2 {
    font-size: 5vw;
  }

  .textWrap .h1 {
    font-size: 7.5vw;
  }

  .textWrap P {
    padding-bottom: 15%;
    font-size: 3vw;
  }

  .imageSection {
    position: absolute;
    top: 7%;
    margin-left: 55%;
  }

  .hjMemoji {
    width: 35vw;
  }

  .aboutWrap {
    padding: 3% 5% 4% 5%;
  }

  .hjPhoto {
    width: 30%;
  }
 
  .aboutText p {
    margin-top: 0;
    margin-bottom: 2%;
    font-size: 3vw;
  }

  .skillsWrap h2 {
    font-size: 6.5vw;
    margin-left: 7%;
    padding-top: 0;
    padding-bottom: 3%;
  }
  
  .icons {
    margin-left: 17%;
  }

  .icons img {
    width: 50%;
  }

  .icons li::marker {
    font-size: 2vw;
  }

  .icons ul {
    left: 58%;
    margin-right: 3%;
  }
  
  .icons li {
    margin-top: 5%;
    margin-bottom: 25%;
    font-size: 2.4vw;
  }

  .portfolioWrap {
    margin-top: 50%;
    margin-bottom: 50%
  }
  
  .portfolioWrap h2 {
    font-size: 6.5vw;
    margin-left: 6%;
    margin-bottom: 4%;
  }
  
  .sliderWrap {
    width: 75%;
    height: 20%;
  }

  .slide {
    margin: 1.2%;
    box-shadow: 10px 10px 5px #333;
  }

  .title {
    font-size: 2vw;
  }
  
  .sub {
    font-size: 1.5vw;
  }
  
  .contactWrap h2 {
    font-size: 7vw;
  }
  
  .contactWrap .h3 {
    font-size: 5vw;
    padding-bottom: 7%;
  }
  
  .kakaoBtn {
    width: 50%;
    margin-left: 25%;
    font-size: 3.5vw;
  }
  
  footer {
    font-size: 2vw;
    padding: 4%;
  } 
   
}

/* Mobile */
@media screen and (max-width: 767px) {
  #sideNav {
    display: none;
  }

  .openBtn {
    display: flex;
  }

  .contentWrap {
    padding-left: 3%;
  }

  .textSection {
    margin: 50% 0 70% 0;
  }

  .textWrap .h2 {
    width: 60%;
    font-size: 5.5vw;
  }

  .textWrap .h1{
    font-size: 7.5vw;
  }

  .textWrap p {
    margin-bottom: 10%;
    font-size: 4vw;
  }

  .imageSection {
    position: absolute;
    top: 10%;
    margin-left: 55%;
  }

  .hjMemoji {
    width: 35vw;
  }

  .maileBtn {
    font-size: 3vw;
  }

  .maileBtn > span {
    font-size: 3vw;
  }

  .aboutWrap {
    width: 90%;
    padding: 3% 5% 4% 5%;
    margin: 30% 2.5% 40% 0;
  }
  
  .aboutWrap h2 {
    font-size: 8vw;
  }
  
  .hjPhoto {
    width: 45%;
    margin-top: 10%;
  }
  
  .aboutText p {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 5vw;
  }
  
  .aboutGit {
    font-size: 4vw;
    margin-top: 3%;
    margin-left: 5%;
  }

  .aboutBlog {
    float: right;
    font-size: 4vw;
    margin-top: 3%;
    margin-right: 10%;
  }
  
  .skillsWrap {
    margin: 50% 0 50% 0;
  }

  .skillsWrap h2 {
    font-size: 6.5vw;
    margin-left: 6%;
  }
  
  .icons {
    width: 5%;
    margin-left: 25%;
  }
  
  .icons img {
    margin-bottom: 100%;
  }

  .icons li::marker {
    font-size: 3vw;
  }

  .icons ul {
    left: 60%;
    margin-right: 5%;
  }
  
  .icons li {
    font-size: 3.5vw;
    margin-bottom: 45%;
  }

  .portfolioWrap {
    margin: 60% 0 80% 0;
  }
  
  .portfolioWrap h2 {
    font-size: 6vw;
    margin-left: 6%;
    margin-bottom: 4%;
  }
  
  .sliderWrap {
    width: 70%;
    height: 20%;
  }

  .title {
    font-size: 5vw;
  }
  
  .sub {
    font-size: 4vw;
  }

  .contactWrap {
    padding: 10%;
  }
  
  .contactWrap h2 {
    margin-top: 40%;
    margin-bottom: 5%;
    font-size: 10vw;
  }
  
  .contactWrap .h3 {
    font-size: 7vw;
    padding-bottom: 7%;
  }
  
  .kakaoBtn {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 20%;
    font-size: 5vw;
  }
  
  footer {
    font-size: 3.2vw;
    padding: 10%;
  } 
  .footerLine {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
  }
}